@import url('./reset.css');
@import url('http://fonts.cdnfonts.com/css/uber-move-text');

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0)
}