:root {
  --theme-background-primary: #ffffff;
  --theme-background-secondary: #eeeeee;
  --theme-background-grey: #f6f6f6;
  --theme-background-dark: #000000;
  --theme-background-beige: #fff2d9;
  --theme-text-primary: #000000;
  --theme-text-secondary: rgb(84, 84, 84);
  --theme-text-grey: rgb(107, 107, 107);
  --theme-font-family: 'Uber Move Text', sans-serif;
  --theme-font-size: 14px;
}

html.dark {
  --theme-background-primary: rgba(51, 51, 51, 0.64);
  --theme-text-primary: #fff;
}

@media screen and(min-width: 768px) {
  :root {
    --theme-font-size: 16px;
  }
}
